

.card-style {
  
  margin-bottom: 20px;
  padding-left: 15px;
  height: 130px;
}
.card-style:hover{
  background-color: rgba(201, 228, 250, 0.479);
}
.text-muted{
  margin-bottom: 0px;
}
.comment-style{
  padding-left: 0;
  
}
.media-body {
  margin-bottom: 30px;
  padding-left: 20px;
  
  
}
.comment-style:hover{
  background-color: rgba(201, 228, 250, 0.479);
}